<ul class="nav bg-primary justify-content-end">
  <% if current_user %>
    <li class="px-3 text-black">
      <%= "Signed in as #{current_user.email}" %>
    </li>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path, class: "text-black" %>
  <% end %>
</ul>

<h1>Welcome to PGA Pools!</h1>
